/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
  font-size: 14px;
  font-weight: 700;
  color: #e2af12;
  text-transform: uppercase;
}

.section-header h2 {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #e2af12;
  text-transform: uppercase;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: #e2af12;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #0f1025;
    color: #fff;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.74) ;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  /*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
  @media screen and (max-width: 576px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  .header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 1.5rem !important;
  }
  
  .header.header-scrolled {
    padding: 15px 0;
    /* box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1); */
  }
  
  .header .logo {
    line-height: 0;
  }
  
  .header .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .header .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #012970;
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
  }

  @media screen and (max-width: 576px) {
    .header {
      position: static !important;
      padding: 0 !important;
      margin: 0;
    }
  }
  
  /* --------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
    border-radius: 40px;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.534) ;
    padding: 0;
    background-color: rgb(16, 26, 39);
    padding-left: 3rem;
    padding-right: 3rem;
  }
  
  .navbar ul {
    margin: 0 0 0 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar ul li {
    margin: 0 8px 0 0;
    padding: 0;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #013289;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #4154f1;
  }
  
  .navbar .getstarted {
    background: #4154f1;
    padding: 8px 20px;
    border-radius: 4px;
    color: #fff;
  }
  
  .navbar .getstarted:hover {
    color: #fff;
    background: #5969f3;
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #4154f1;
  }
  
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: #012970;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
    /* .navbar ul {
      display: block;
    } */
  }

  @media screen and (max-width: 576px) {
    .navbar {
      border-radius: 0;
      margin: 0;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    width: 100%;
    height: 100vh;
    background: url(../img/SL-0212121-40670-68.jpg) rgba(0,0,0, 0.1) top center no-repeat;
    background-blend-mode:overlay;
    background-size: cover;
  }
  
  .hero h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    color: #e2af12;    
    text-shadow:  1px 2px 1px rgba(255, 255, 255, 0.51)
  }
  
  .hero h2 {
    color: #bdd6f7;
    margin: 15px 0 0 0;
    font-size: 26px;
  }
  
  .hero .btn-get-started {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.15s ease-in-out;
    color: #fff;
    background: #0d1d41;    
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.74) ;
    /* box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4); */
    
  }

  .hero .btn-get-started:hover {
    box-shadow: 1px 1px 8px 1px rgba(255, 255, 255, 0.74) ;
    transform: scale(1.05);
  }
  
  .hero .btn-get-started span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
  }
  
  .hero .btn-get-started i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
  }
  
  .hero .btn-get-started:hover i {
    transform: translateX(5px);
  }
  
  .hero .hero-img {
    text-align: right;
  }
  
  @media (min-width: 1024px) {
    .hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 991px) {
    .hero {
      height: auto;
      padding: 120px 0 60px 0;
    }
    .hero .hero-img {
      text-align: center;
      margin-top: 80px;
    }
    .hero .hero-img img {
      width: 80%;
    }
  }
  
  @media (max-width: 768px) {
    .hero {
      text-align: center;
    }
    .hero h1 {
      font-size: 32px;
    }
    .hero h2 {
      font-size: 24px;
    }
    .hero .hero-img img {
      width: 100%;
    }
  }

  /*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content {
    background-color: rgb(16, 26, 39);
    padding: 40px;
  }

  .about .content hr {
    color: white;
  }
  
  .about h2 {
    font-size: 24px;
    font-weight: 700;
    color: #e2af12;
    text-transform: uppercase;
  }  
  
  
  .about p {
    margin: 15px 0 30px 0;
    line-height: 24px;
    font-size: 16px;
    color: #bdd6f7;
  }
  
  .about .btn-read-more {
    text-decoration: none;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;    
    transition: 0.1s ease-in-out;
    color: #fff;
    background: #0d1d41;    
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.74) ;
  }
  
  .about .btn-read-more:hover {
    box-shadow: 1px 1px 5px 2px rgba(255, 255, 255, 0.74) ;
  }

  .about .btn-read-more span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
  }
  
  .about .btn-read-more i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
  }
  
  .about .btn-read-more:hover i {
    transform: translateX(5px);
  }

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
#services {
  background-color: #000015;
}

.services .service-box {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    height: 100%;
    background-color: rgb(26, 26, 26);
    padding: 40px 25px;
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
  }
  
  .services .service-box .icon {
    font-size: 36px;
    padding: 40px 20px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    line-height: 0;
    transition: 0.3s;
  }

  .services .service-box p {
    color: gray;
  }
  
  .services .blue h3 {
    color: #2db6fa;
    font-weight: 700;
  }
  .services .orange h3 {
    color: #f68c09;
    font-weight: 700;
  }
  .services .green h3 {
    color: #08da4e;
    font-weight: 700;
  }
  .services .red h3 {
    color: #e9222c;
    font-weight: 700;
  }
  .services .purple h3 {
    color: #b50edf;
    font-weight: 700;
  }
  .services .pink h3 {
    color: #f51f9c;
    font-weight: 700;
  }
  
  .services .service-box .read-more {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 20px;
  }
  
  .services .service-box .read-more i {
    line-height: 0;
    margin-left: 5px;
    font-size: 18px;
  }
  
  .services .service-box.blue {
    border-bottom: 5px solid #2db6fa;
  }
  
  .services .service-box.blue .icon {
    color: #2db6fa;
    background: #dbf3fe;
  }
  
  .services .service-box.blue .read-more {
    color: #2db6fa;
  }
  
  .services .service-box.blue:hover {
    background: #2db6fa;
  }
  
  .services .service-box.orange {
    border-bottom: 5px solid #f68c09;
  }
  
  .services .service-box.orange .icon {
    color: #f68c09;
    background: #fde3c4;
  }
  
  .services .service-box.orange .read-more {
    color: #f68c09;
  }
  
  .services .service-box.orange:hover {
    background: #f68c09;
  }
  
  .services .service-box.green {
    border-bottom: 5px solid #08da4e;
  }
  
  .services .service-box.green .icon {
    color: #08da4e;
    background: #cffddf;
  }
  
  .services .service-box.green .read-more {
    color: #08da4e;
  }
  
  .services .service-box.green:hover {
    background: #08da4e;
  }
  
  .services .service-box.red {
    border-bottom: 5px solid #e9222c;
  }
  
  .services .service-box.red .icon {
    color: #e9222c;
    background: #fef7f8;
  }
  
  .services .service-box.red .read-more {
    color: #e9222c;
  }
  
  .services .service-box.red:hover {
    background: #e9222c;
  }
  
  .services .service-box.purple {
    border-bottom: 5px solid #b50edf;
  }
  
  .services .service-box.purple .icon {
    color: #b50edf;
    background: #f8e4fd;
  }
  
  .services .service-box.purple .read-more {
    color: #b50edf;
  }
  
  .services .service-box.purple:hover {
    background: #b50edf;
  }
  
  .services .service-box.pink {
    border-bottom: 5px solid #f51f9c;
  }
  
  .services .service-box.pink .icon {
    color: #f51f9c;
    background: #feecf7;
  }
  
  .services .service-box.pink .read-more {
    color: #f51f9c;
  }
  
  .services .service-box.pink:hover {
    background: #f51f9c;
  }
  
  .services .service-box:hover h3, .services .service-box:hover p, .services .service-box:hover .read-more {
    color: #fff;
  }
  
  .services .service-box:hover .icon {
    background: #fff;
  }

  @media screen and (max-width: 576px){
    .services .container .row {padding: 0 1rem;}    
  }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer-top { 
  padding: 60px 0;
  background: rgb(16, 26, 39); 
  text-align: left; color: #aaa; 
}
.footer-top h3 {
  padding-bottom: 10px; 
  color: #fff; 
}
.logodiv{
  max-width: 350px;
  padding: auto 0;
}
.logo-footer{
  width: 85%;
}
footer ul{
  list-style-type: none;
  padding: 0 !important;
}

.footer a{
  color: #aaa;
  border: 0;
}
.footer a:hover{
  color: #fff;
  text-decoration: none !important;
}
.footer-contact p { 
  word-wrap: break-word; 
}
.footer-contact i {
  padding-right: 10px; 
  font-size: 16px; 
  color: #666; 
}
.footer-links a,
.footer-contact a { 
  text-decoration: none;
  color: #aaa; 
  border: 0; 
}
footer .line{
  width: 25%;
  border: 1px rgb(182, 134, 2) solid;
  border-radius: 10px;
  margin-top: 0;
  opacity: 1 !important;
}
.footer-links a:hover, .footer-links a:focus,
.footer-contact a:hover, .footer-contact a:focus { 
  color: #fff; 
}
.footer-social {
  margin: 0 40px;
}
.footer-social a { 
  margin: 20px; 
  color: white;
  /* color: rgba(255, 255, 255, 0.589); */
  text-shadow: 2px 2px 10px #e2af12;
}
.footer-social a:hover { 
  color: #000015;
}
.footer-social i { 
  font-size: 30px; 
}
.footer-bottom {
  height: 20px;
  padding: 2px 0;
  background: rgb(255, 255, 255);
  color: #333;
}
.footer-bottom .copyright {
  /* display: none; */
  margin:  auto;
  padding: auto;
}
.footer-bottom .copyright h6 {
  font-size: small;
}
footer .break{
  display: none;
}

/* Media Queries for the layout */

@media screen and (max-width: 68em) {
section {
  font-size: 80%;
  }

}

@media screen and (max-width: 54em) {
.main .card-body{
      width: 97% !important;
  }

  .main{
      background-position:40%;
      background-repeat: no-repeat;
      background-size: cover;
  }

  footer .footer-top .footer-contact,
  footer .footer-top .footer-links{
      padding: 1rem 1.5rem !important;
      text-align: center;
      margin: auto;
  }
  footer .break{
      display: block;
  }
  footer .footer-top .logodiv{
      margin: 1rem auto;
  }
  footer .line{
      text-align: center !important;
      margin: auto auto 1rem auto;

  }
  footer i{
      padding: 0 !important;
  }
}